/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  margin: 0 auto;
  font-family: var(--main-font);
  font-variation-settings: "wght" var(--text-weight);
  background-color: var(--bg-color);
  background-image: var(--background-image);
  background-size: cover;
  background-attachment: fixed;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: var(--header-padding);
}

.header__block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-color);
  border: 2px solid var(--accent-color);
  inline-size: var(--section-width);
  min-block-size: clamp(20rem, 308.56px + 4.2vw, 23rem);
}

.header__title {
  font-family: var(--accent-font);
  font-size: var(--logo-size);
  text-transform: uppercase;
  line-height: 100%;
}

.header-paragraph {
  font-family: var(--accent-font);
  font-size: clamp(0.875rem, 0.6769rem + 0.8454vw, 1.4375rem);
  text-transform: uppercase;
  line-height: 100%;
  padding-top: 20px;
}

.main {
  display: flex;
  justify-content: center;
  padding-bottom: 43px;
}

.cards-list {
  display: flex;
  flex-direction: column;
  gap: 53px;
  inline-size: var(--section-width);
}

.card {
  background-color: var(--bg-color);
  border: 2px solid var(--accent-color);
}

.card-title {
  font-size: var(--card-text-size);
  font-variation-settings: "wght" var(--title-weight);
  line-height: var(--card-line-height);
  padding: 4px 10px;
}

.image-block {
  position: relative;
}

.card__img {
  inline-size: 100%;
  block-size: auto;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  object-position: right;
  border-top: 2px solid var(--accent-color);
  border-bottom: 2px solid var(--accent-color);
}

.fill-saturate{
  filter: saturate(0.2);
}
.fill-saturate-2{
  filter: saturate(3.5);
}
.fill-rotate{
  filter: hue-rotate(30deg);
}

.fill-invert{
  filter: invert(0.8);
}

.fill-sepia{
  filter: sepia(0.9);
}

.fill-blur{
  filter: blur(10px);
}

.united{
  filter: hue-rotate(90deg) blur(2px) opacity(0.7) brightness(0.6);
}

.addition {
  position: absolute;
  top: 25px;
  right: 25px;
  color: var(--accent-color);
  font-family: var(--accent-font);
  font-size: var(--button-text-size);
  text-transform: uppercase;
  mix-blend-mode: hard-light;
  opacity: 0.5;
  text-shadow: 2px 2px 0 var(--label-stroke-color);
}

@supports ((text-stroke: 1px var(--label-stroke-color)) or (-webkit-text-stroke: 1px var(--label-stroke-color))) {
  .addition {
    -webkit-text-stroke: 1px var(--label-stroke-color);
    text-stroke: 1px var(--label-stroke-color);
    text-shadow: none;
  }
}

.under-text-block {
  display: flex;
  flex-direction: column;
  gap: 27px;
  padding: 25px;
  font-size: var(--card-text-size);
  line-height: var(--card-line-height);
  color: var(--accent-color);
}

.card-subtitle {
  font-size: var(--card-text-size);
  line-height: var(--card-line-height);
  color: var(--accent-color);
}

.under-block {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 6px;
  padding: 0 25px 25px;
}

.button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.card__icon-button {
  display: flex;
  align-items: center;
  justify-content: center;
  inline-size: 39px;
  block-size: 36px;
  padding: 0;
  border: 2px solid transparent;
  transition: border-color 0.3s ease;
}

.card__icon-button:focus-visible {
  outline: none;
  border-color: var(--accent-color);
}

.sparks {
  opacity: 0;
}

.button_main {
  font-family: var(--accent-font);
  font-size: var(--button-text-size);
  border: 2px solid var(--accent-color);
  background-color: transparent;
  color: var(--accent-color);
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: color 0.5s ease-in-out, box-shadow 0.3s ease;
}

.button_main::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: var(--accent-color);
  transition: width 0.5s ease-in-out;
  z-index: -1;
}

.button_main:hover {
  color: var(--bg-color);
}

.button_main:hover::before {
  width: 100%;
}

.button_main:focus {
  outline: none;
  box-shadow: 2px 2px var(--accent-color);
}

.card__like-button {
  line-height: 90%;
  padding: 9px 17px;
  min-inline-size: 130px;
  min-block-size: 38px;
}

.card__like-button .button__text {
  position: relative;
  z-index: 1;
  color: inherit;
  mix-blend-mode: difference;
}

.digalog-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 20px;
  margin: auto;
  background-color: var(--bg-color);
  margin-bottom: 100px;
  cursor: pointer;
}

.modal-button {
  margin-top: 30px;
  min-width: 100%;
  min-height: 38px;
  padding: 10px 0;
  cursor: pointer;
}

.digalog-button svg,
.dialog__icon {
  position: relative;
  z-index: 1;
  fill: currentColor;
  mix-blend-mode: difference;
}

/* Анимация сердца */
.like-icon.is-liked .heart {
  animation: heart-animation 0.3s 0.1s ease-in alternate;
}

.contour {
  transition: fill 0.1s 0s linear;
}

.core {
  transition: fill 0.3s 0.03s linear;
}

.main-body {
  transition: fill 0.3s 0s linear;
}

.like-icon {
  transform-origin: center;
}

.like-icon:hover .core {
  fill: var(--accent-color);
  transition: fill 0.3s linear;
}

.like-icon:hover .main-body {
  fill: var(--accent-color);
  transition: fill 0.3s 0.05s linear;
}

.like-icon:active .core {
  fill: var(--heart-color);
  transition: fill 0.03s 0s linear;
}

.like-icon:active .main-body {
  fill: var(--heart-color);
  transition: fill 0.3s 0.05s linear;
}

.like-icon.is-liked .core {
  fill: var(--heart-color);
  transition: fill 0.03s 0s linear;
}

.like-icon.is-liked .main-body {
  fill: var(--heart-color);
  transition: fill 0.3s 0.05s linear;
}

.like-icon.is-liked .contour {
  fill: var(--heart-color);
  transition: fill 0.3s 0.06s linear;
}

.like-icon.is-liked .sparks {
  fill: var(--heart-color);
  animation: sparks-animation 0.3s 0.3s ease-in 1;
}

/* Модальное окно */
.discet {
  padding: 0;
  font-family: var(--accent-font);
  font-size: var(--button-text-size);
  text-transform: uppercase;
  max-width: 353px;
  border: 2px solid var(--accent-color);
  background-color: var(--bg-color);
}

.discet[open] {
  display: flex;
  flex-direction: column;
  padding: 29px;
}

.dialog-title {
  display: flex;
  align-items: center;
  gap: 20px;
  line-height: 150%;
  margin-bottom: 30px;
}

.dialog-title svg {
  width: 39px;
  height: 39px;
  flex: 0 0 39px;
  display: inline-block;
}

.button-block {
  display: flex;
  justify-content: center;
  align-items: center;
}

.discet::backdrop {
  background-color: rgba(0 0 0 / 0.75);
}

.digalog-button svg {
  position: relative;
  z-index: 1;
  fill: white;
  transition: fill 0.3s ease-in-out;
}

@media (width<=375px) {
  .header-paragraph {
    font-size: clamp(0.875rem, 0.6769rem + 0.8454vw, 1.4375rem);
  }

  .cards-list {
    gap: 50px;
  }

  .digalog-button {
    flex-direction: column;
    padding: 15px 20px 15px 20px;
  }

  .digalog-button svg {
    width: 28px;
    height: 28px;
  }

  .discet[open] {
    padding: 28px;
    min-width: 350px;
  }
}
