/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --main-font: "Inter-Variable", sans-serif;
  --accent-font: "Press Start 2P", cursive;
  --text-weight: 400;
  --title-weight: 700;
  --card-text-size: 18px;
  --card-line-height: 21px;
  --button-text-size: 14px;
  --subtitle-size: 14px;
  --bg-color: #ffffff;
  --accent-color: #000000;
  --heart-color: #ff0000;
  --label-stroke-color: #ffffff;
  --color-of-conter: var(--accent-color); 
  --button-text-color: #ffffff;
  --section-width: clamp(375px, 100%, 696px);
  --header-padding: clamp(70px, 20vh, 105px) 0;
  --logo-size: clamp(3.0625rem, 2.71rem + 1.5vw, 4.0625rem);
  --background-image: 
    repeating-linear-gradient(to right, #d3d3d3 0 2px, transparent 2px 4px),
    repeating-linear-gradient(to bottom, #d3d3d3 0 2px, transparent 2px 4px),
    linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a);
}
